DB_HOST=ttttt.ipdisk.co.kr
DB_PORT=3306
DB_NAME=dbname
DB_USER=userid
DB_PASSWORD=userpw

VECTORDB_TYPE=chromadb
VECTORDB_PATH=./vectordb
# full  전체 재 incremental : creatdttm 기준 이후건만 업데이트
VECTORDB_MODE = full

UPDATE_THRESHOLD_HOURS=24
HF_TOKEN=yourHF
OPENAI_API_KEY=OPENAI_APIKEY
