# scipy==1.14.1
accelerate==1.8.0
peft==0.16.0
bitsandbytes==0.49.2
transformers==4.53.0
trl==0.17.0
datasets==4.8.5
tensorboard==2.19.0
jupyter==1.1.1
pillow==12.2.0
dotenv==0.9.9
mysql-connector-python==9.3.0
matplotlib==3.10.9