# scipy==1.14.1
accelerate==1.6.0
peft==0.15.2
bitsandbytes==0.45.5
transformers==4.51.3
trl==0.16.1
datasets==4.8.5
tensorboard==2.19.0
jupyter==1.1.1
pillow==12.2.0
dotenv==0.9.9
mysql-connector-python==9.3.0
matplotlib==3.10.9